div {
  padding: 1em;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgray;
}

h1 {
  color: gray;
  font-size: 1.5em;
}

h3 {
  margin: 1em 0;
  font-size: .8em;
}

h4 {
  font-weight: 600;
}

article {
  margin: .7em 0;
}

